html {
  font-size: 62.5%;
}
body {
  background-color: #232323;
  color: #e3e3e3;
  font-size: 1.6rem;
  margin: 0;
}
a {
  text-decoration: none;
  color: #e3e3e3;
}
p {
  margin: 0;
}
button,
input {
  appearance: none;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.head-line {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
}

.calendar {
  margin: 20px;
  width: 24rem;
  height: 24rem;
  border-radius: 1rem;
  border: 1px solid #e2e2e2;
}
.btn_close {
  width: 10px;
  height: 20px;
  position: relative;
  text-indent: -9999px;
}
.btn_close:before,
.btn_close:after {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  background: #e3e3e3;
}
.btn_close:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.btn_close:after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.hidden_txt {
  display: none;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #e3e3e3;
}

.titlebar {
  user-select: none;
  -webkit-app-region: drag;
  width: 100%;
  height: 20px;
}

.division-line {
  border-top: 1px solid #e2e2e2;
  height: 1px;
  width: 40px;
  margin: auto;
}
