html {
  font-size: 62.5%;
  background: rgba(0, 0, 0, 0);
}
body {
  background-color: rgba(50, 50, 50, 0.3);
  color: #e3e3e3;
  font-size: 1.6rem;
  margin: 0;
  user-select: none;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #e3e3e3;
}
p {
  margin: 0;
}
button,
input {
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.head-line {
  /* -webkit-app-region: drag; */
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-inline: 20px;
}

#month {
  width: 4rem;
  display: flex;
  justify-content: center;
}

.btn-close {
  width: 10px;
  height: 20px;
  position: relative;
  text-indent: -9999px;
}
.btn-close:before,
.btn-close:after {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  background: #e3e3e3;
}
.btn-close:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.btn-close:after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.hidden-txt {
  display: none;
}

.dot {
  /* margin: -2.5px; */
  padding: 2.5px;
  border-radius: 50%;
  background-color: #e3e3e3;
  margin-inline: 1px;
}
.dot-big {
  padding: 4px;
  margin-inline: 8px;
}

.dot-box {
  z-index: -1;
  display: flex;
  flex-direction: row;
  margin: -2.5px;
}

.titlebar {
  -webkit-app-region: drag;
  user-select: none;
  width: 100%;
  height: 20px;
}

.division-line {
  border-top: 2px solid #727272;
  width: 15%;
  margin: auto;
  border-radius: 2px;
  margin-block: 5px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  padding: 10px;
  width: 22rem;
  height: 22rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;

  /* border: 1px solid #e2e2e2; */
}
.calendar span:nth-child(7n + 8),
.calendar span:nth-child(7n + 14) {
  background-color: rgba(75, 75, 75, 0.5);
}
.calendar span:nth-child(8),
.calendar span:nth-child(14) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.calendar span:nth-child(43),
.calendar span:nth-child(49) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.day {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.date-prev,
.date-next {
  color: #929292;
}

.today {
  height: 80%;
  border-radius: 5px;
  outline: solid 3px #e3e3e3;
}

.selected {
  height: 80%;
  border-radius: 5px;
  outline: solid 3px #7986cb;
}

.gear {
  position: absolute;
  right: 15px;
  top: 2.3rem;
}

.hidden {
  display: none;
}

.head-line:hover .hidden {
  display: block;
}

.arrow {
  border: solid #e3e3e3;
  border-width: 0 3px 3px 0;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 2px;
}

.right {
  transform: translate(0, 25%) rotate(-45deg);
}

.left {
  transform: translate(0, 25%) rotate(135deg);
}

.next-schedule {
  padding: 5px;
  height: 200px;
  overflow: auto;
}
.next-schedule::-webkit-scrollbar {
  display: none;
}
.schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.schedule-day {
  padding-inline: 5px;
  font-weight: bold;
}

/* setting */
.setting-done {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  background: #4146c8;
  align-items: center;
  border-radius: 10px;
  margin-block: 10px;
  position: absolute;
  bottom: 10px;
  left: 5%;
}

.setting-check {
  padding: 5px;
  display: flex;
  margin-left: 20px;
}

.setting-label {
  margin-left: 10px;
}

.box {
  display: flex;
  padding-inline: 10px;
  flex-direction: column;
  padding-bottom: 10px;
}
